<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sinatra Test Page</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
  <section>
    <h1>Guess the random number</h1>
    <p>When this page loaded, ruby generated a random number between 1 and 100, you need to enter a number
      between this range and guess the correct number to win the game</p><br>
    <p><%= message %></p>
    <p>You entered: <%= params["guess"] %></p>
  </section>

  <section>
    <form action="">
      <label for="guess">Enter a guess:</label>
      <input type="text" name="guess" class="guess_input"/><br><br>
      <input type="submit" value="Submit"/>
    </form>
  </section>

  <p>You have won: <%= win_count %> time(s)</p>
  <p><%= cheat_mode %></p>
</div>


</body>
</html>