<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sinatra Test Page</title>
</head>
<body>
  <h1>This is the test page</h1>
  <p>Your random number is: <%= rand_num %></p>
  <p>Another random number on each refresh: <%= rand(9999) %></p>

</body>
</html>