body {
    background-color: darkslategray;
    color: white;
}

div.container {
    max-width: 80%;
    border: solid red 3px
}

.guess_input {
    background-color: darkslategray;
    color: white;
}