body {
    background-color: darkslategray;
    color: white;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: auto;
}

#section_a {
    text-align: center;
    padding: 5px;
}

#section_b {
    text-align: center;
    margin: 5px;
}

.guess_input {
    background-color: lightcyan;
    font-size: 1.2rem;
    color: darkblue;
}